{% extends 'layout.html.twig' %}

{% block title %}Boutique - formulaire produit{% endblock %}

{% block content %}
	
	<h1>{{ title }}</h1>
	
	{% if photo is defined %}
	<img src="{{ asset('photo/' ~ photo) }}" height="150"/>
	{% endif %}
	
	{{ form(produitForm) }}
	

{% endblock %}